# Dependencies
client/node_modules
/node_modules
/.pnp
.pnp.js
/ardupilot
/c_library_v2
# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# C++ build
server/build/
*.o
*.obj
*.exe

# IDE
.vscode/
.idea/ 